// 변수. 변수는 항상 앞에 달러($)를 붙인다
$red: #fa5252;

// 믹스인 : 재사용되는 스타일을 함수처럼 이용하는 것
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}

// 클래스 중첩
.SassComponent {
  display: flex;
  .box {
  }
}
